:root {
  color-scheme: light;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  color: rgba(17, 24, 39, 1);
  background: rgba(249, 250, 251, 1);
}

a {
  color: inherit;
}

